@page
@model University.RazorPages.Pages.Admin.Addresses.IndexModel
@{
    ViewData["Title"] = "Address List";
}

<h1>Address List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Street</th>
            <th>Building Number</th>
            <th>Apartment Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model.Addresses)
        {
            <tr>
                <td>@address.Country</td>
                <td>@address.City</td>
                <td>@address.PostalCode</td>
                <td>@address.Street</td>
                <td>@address.BuildingNumber</td>
                <td>@address.ApartmentNumber</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@address.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@address.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@address.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Create">Create New Address</a>
